.gameInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 40px;
    text-decoration: underline;
    margin-bottom: 10px;
}

.rules {
    font-style: italic;
}

.resultContainer {
    margin-top: 10px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    gap: 15px;
}

h3 {
    margin-top: 0px;
}

.wins, .losses {
    display: flex;
    justify-content: center;
    width: 52px;
}

.roundInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-size: 20px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 5px;
    padding-bottom: 25px;
}

.rock, .paper, .scissors {
    width: 65px;
}

.resetFrame {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 10px;
}

.resetButton {
    padding: 1px;
}