.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.roundResults {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 10px;
}